/* Palette
#eeee99
#ede059    
#bcc98e    
#638270
#2b434f    
#0c2538    
*/

body {
    font-family: Trebuchet MS, Helvetica, Arial;
    background: #fbfbfb;
}   

#top {
    background:#fbfbfb url(/static/img/bg.png) repeat;
    height: 50px;
    color:#fff;
    padding-top:10px;
}

.card-header {
    background:#333;
    color:#fff;
    height:30px;
}

#header {
    background: #f1f1f1;
    border-bottom: 1px solid #e1e1e1;
    height: 50px;
}

.logo {
    font-weight: normal;
    color: #fff;
    color:#444;    
    #color:#bf2726;
    text-decoration:none;
    font-size: 22px;
    margin-top:-8px;
    margin-left:35px;
}

.reslink {
    color: #12c;
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.3em;
}

.tablink {
    color:#333;
}

.card {
    padding:30px;
    background:#fff;
    border:1px solid #e1e1e1;
}

.btn {
    border-radius: 0;
}

.table {
    background:#fff;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover
{
    color:#bf2726;
    font-weight:bold;
}

